.right-column-container {
    width: 74%;
    border: 1px solid;
    position: relative;
}

.right-column-wrapper {
    width: 100%;
}

.right-column-wrapper .message-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.message-bar form {
    display: flex;
    width: 100%;
}

.message-bar input[type=text] {
    width: 80%;
    padding: 10px;
    margin: auto;
}

.profile-content {
    width: 100%;
    border: 1px solid blue;
    display: flex;
    gap: 20px;
}

.deactive-connections .bkg-img {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v880-kul-09-a.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b4e741b8f8801bce6da68b7f2c77e883");
}