.Login-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login-container h2 {
    text-align: center;
    margin-top: 50px;
}

.Login-up-wrapper {
    display: flex;
    width: 95%;
    max-width: 1280px;
    height: 485px;
    border-radius: 10px;
    margin-block: 50px;
}

.Login-up-wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-parent {
    width: 60%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--active-chat-color);
    /* border: 1px solid; */
}

.second-parent {
    width: 40%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F5F5F5;
    /* border: 1px solid; */
}

.center-mp {
    margin: 0 auto;
    position: relative;
    translate: 0 -50%;
    top: 50%;
}


.hidden {
    color: floralwhite;
    font-size: small;
    margin-bottom: 4px;
    padding-left: 10px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.small-red-text {
    color: red;
    font-size: small;
    margin-bottom: 4px;
    padding-left: 10px;
}



.Login-wrapper {
    width: 50%;
    min-width: 270px;
    /* border: 1px solid #00C6CF; */
}

.Login {
    width: 100%;
}


.Login h2 {
    color: var(--font-color);
    margin: 20px 0px;
}

.email {
    width: 100%;
    position: relative;
}

.Login-input {
    width: 100%;
    height: 36px;
    border-radius: 7px;
    padding-left: 40px;
    border: none;
}

.Login-input:focus {
    outline: none;

}

.icon {
    position: absolute;
    translate: 0 -50%;
    top: 50%;
    left: 3%;
}

.icon svg {
    font-size: medium;
    color: grey;
}


/*****************/

.select-gender{
    display: inline-flex;
    background: #fff;
    height: 36px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 5px 0px;
    margin-bottom: 16px;
    /* box-shadow: 5px 5px 30px rgba(0,0,0,0.2); */
  }
  .select-gender .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .select-gender .option .dot{
    height: 15px;
    width: 15px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .select-gender .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .select-gender .option span{
    font-size: medium;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }
  /*********/
.button {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 130px;
    background: var(--active-chat-color);
    color: var(--font-color);
    border-radius: 30px;
    border: 3px solid white;
    padding: 8px;
    margin: 25px 0;
    text-align: center;
    cursor: context-menu;
}

.button:hover {
    background: #15f4ee;
    color: black;
    border: 3px solid #15f4ee;
}



.password {
    position: relative;
}


/******************* signout *************************/

.signout-wrapper {
    width: 90%;
    min-width: 270px;
    /* border: 1px solid; */
}

.signout-button {
    width: 100%;
    /* border: 1px solid; */
}

.signout-text :is(h2, p) {
    color: #7272cb;
    text-align: center;
}

.signout-text p {
    width: 70%;
    margin: 20px auto;
}

.d-off {
    display: none;
}

.d-flex {
    display: flex;
}

/***********************************/

.first-name {
    position: relative;
}

.last-name {
    position: relative;
}

@media only screen and (max-width:850px) {

    .Login-container > h2 {
        font-size: large;
    }

    .first-parent {
        width: 100%;
        height: 100%;
    }

    .second-parent {
        width: 100%;
        height: 100%;
    }

    .Login-up-wrapper {
        flex-direction: column-reverse;
        height: 100%;
    }

    .Login-wrapper {
        min-width: 300px;
    }

    .signout-wrapper {
        min-width: 300px;
    }
}